<?xml version="1.0"?>
<launch>
  <arg name="add_human" default="false" doc="If true, human spawn." />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />

  <param unless="$(arg add_human)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_description)/urdf/ur5_robot.urdf.xacro' transmission_hw_interface:=$(arg transmission_hw_interface)" />
  <param if="$(arg add_human)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_description)/urdf/ur5_robot_human.urdf.xacro' transmission_hw_interface:=$(arg transmission_hw_interface)" />
</launch>
